<div class="bar">
  <span><%- username %></span>
  <a href="/write">Post an article</a>
  <a href="/users/logout">Log out</a>
  <a href="/" class="home">
    <img src="/images/home.png" alt="Main">
  </a>
  <a href="http://paws.usask.ca" class="paws">
    <img src="/images/paws.png" alt="paws">
  </a>
</div>
