<!DOCTYPE html>
<html lang="en">
<head>

  <title>Alert</title>
  <%- include head %>
  <script>
window.onload = function(){
    setTimeout("history.back()", 5000);
}
</script>

</head>
<body>
  <div class="Message">Name is used by another user, please enter a new name. </div>

</body>
</html>
