<!DOCTYPE html>
<html lang="en">
<head>

  <title>Alert</title>
  <%- include head %>
  <script>
window.onload = function(){
    setTimeout("history.back()", 3000);
}
</script>

</head>
<body>
  <div class="Message">You don't have permission to edit or delete other users' article. </div>

</body>
</html>
