<!DOCTYPE html>
<html lang="en">
<head>

  <title>Registration</title>
  <%- include head %>
</head>
<body>
  <div class="form-box">
    <form action="/users/regist" method="post">
      <input type="text" name="username" value="" placeholder="Enter Your User Name">
      <input type="password" name="password" value="" placeholder="Enter Your Passward">
      <input type="password" name="password2" value="" placeholder="Reenter Your Passward">
      <input type="submit" name="" value="Register">
    </form>
    <div>Already registed，<a href="/login">Login in</a>！</div>
  </div>

</body>
</html>
